<html>
  <head>
	  <title></title>
	  <link rel="stylesheet" type="text/css" href="/css/Hackathon.css">
  </head>
  <body>
    <header>
      <img src="css/nickcolor.png" alt="N.I.C.K. Logo" style="height: 250; margin: auto; display: block;"/>
      <form action="/" method="get">
        <input type="text" id="myInput" name="query" placeholder="Search for Categories...">
      </form>
    </header>

		<ul id="List">
		  <li><a href="#" class="header">Electronics</a></li>
		  <li><a href="#">Auto Electronics</a></li>
		  <li><a href="#">Cameras</a></li>
			<li><a href="#">Cell Phones</a></li>
		  <li><a href="#">Computers</a></li>
			<li><a href="#">TV and Videos</a></li>
		  <li><a href="#">Video Games</a></li>
		</ul>

    <div id="container">
        <% items.forEach(function(item) { %>
  		  <div class="square">
            <img class="mediumImage" src="<%= item.mediumImage %>">
            <h1 class="productName"><%= item.name %> </h1>
            <p>
              <strong>$<%= item.salePrice %></strong><br/><br/>
              <%= item.shortDescription %><br/><br/>
              <span class="reviewInfo">Number of Reviews: <%= item.numReviews %> Customer Rating: <%= item.customerRating %></span>
            </p>
            <img class="customerRatingImage" src="<%= item.customerRatingImage %>">
            <a href="<%= item.productUrl %>" target="=_blank">See More Details</a>
        </div>
        <% }); %>
    </div>
    <footer>
      <img src="https://lh3.googleusercontent.com/-Zn4kkZr3Ge0/WY-MNqqS8pI/AAAAAAAAAQo/GWg0cxQkA_sG_FYYZ_6F10DBqFfOSn4AwCK8BGAs/s360/nick.gif" alt="N.I.C.K. Logo" style="height: 250; margin: auto; display: block;"/>
    </footer>
  </body>
</html>
