<html>
  <head>
	  <title></title>
	  <link rel="stylesheet" type="text/css" href="/css/Hackathon.css">
  </head>
  <body>
    <header>
      <img src="https://lh3.googleusercontent.com/-MSD8ikYtjSw/WY-qgUtYBqI/AAAAAAAAASE/3R9IbgCRCx0p6rSrV6ElAjoOaxeL3cLGACL0BGAYYCw/h501/logonick_01.jpg" alt="N.I.C.K. Logo" style="height: 250; margin: auto; display: block;"/>
      <!-- <img src="https://lh3.googleusercontent.com/-Zn4kkZr3Ge0/WY-MNqqS8pI/AAAAAAAAAQo/GWg0cxQkA_sG_FYYZ_6F10DBqFfOSn4AwCK8BGAs/s360/nick.gif" alt="Team N.I.C.K." style="width: 50; height: 50;"/> -->
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Categories...">
    </header>

		<ul id="List">
		  <li><a href="#" class="header">Electronics</a></li>
		  <li><a href="#">Auto Electronics</a></li>
		  <li><a href="#">Cameras</a></li>
			<li><a href="#">Cell Phones</a></li>
		  <li><a href="#">Computers</a></li>
			<li><a href="#">TV and Videos</a></li>
		  <li><a href="#">Video Games</a></li>
		</ul>

    <div id="container">
        <% items.forEach(function(item) { %>
  		  <div class="square">
            <h1 class="productName"><%= item.name %> </h1>
            <h2 class="salePrice">$<%= item.salePrice %></h2>
            <img class="mediumImage" src="<%= item.thumbnailImage %>">
            <p class= "shortDescription"><%= item.shortDescription %></p>
            <p class="reviewInfo">
                Number of Reviews </br> <%= item.numReviews %>
            </br>
                Customer Rating </br> <%= item.customerRating %>
            </p>
            <img class="customerRatingImage" src="<%= item.customerRatingImage %>">
            <a href="<%= item.productUrl %>" target="=_blank">See More Details</a>
        </div>
        <% }); %>
    </div>
  </body>
</html>
