<html>
  <head>
	  <title></title>
	  <link rel="stylesheet" type="text/css" href="/css/Hackathon.css">
  </head>
  <body>

    <div>
      <button id = "sortbyRating">Rating</button>
      <button id = "sortByTrending">Trending</button>
      <button id = "sortByPrice">Price</button>
    </div>

    <!--search filter-->
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Categories...">

		<ul id="List">
		  <li><a href="#" class="header">Electronics</a></li>
		  <li><a href="#">Auto Electronics</a></li>
		  <li><a href="#">Cameras</a></li>
			<li><a href="#">Cell Phones</a></li>
		  <li><a href="#">Computers</a></li>
			<li><a href="#">TV and Videos</a></li>
		  <li><a href="#">Video Games</a></li>
		</ul>

<% items.forEach(function(item) { %>
		<div id="container">
		  <div class="square">
              <h1 id = "productName"> NAME: <%= item.name %> </h1>
              <h2 id = "salePrice"> PRICE: <%= item.salePrice %></h2>
              <img id = "mediumImage" src = "<%= item.mediumImage %>">
              <p id = "shortDescription"> <%= item.shortDescription %> </p>
              <p id = "reviewInfo">
                  Number of Reviews </br> <%= item.numReviews %>
              </br>
                  Customer Rating </br> <%= item.customerRating %>
              </p>
              <img id = "customerRatingImage" src = "<%= item.customerRatingImage %>">
          </div>
		</div>
<% }); %>


  </body>
</html>
